@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/montserrat-v14-latin-regular.woff);
    src: url(./fonts/montserrat-v14-latin-regular.woff2);
    font-weight: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(./fonts/roboto-slab-v9-latin-regular.woff);
    src: url(./fonts/montserrat-v14-latin-700.woff2);
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url(./fonts/roboto-slab-v9-latin-regular.woff);
    src: url(./fonts/roboto-slab-v9-latin-regular.woff2);
    font-weight: normal;
}