html {
    box-sizing: border-box;
}
*, 
*::before, 
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 900px;
    margin: 0 auto;
    background: #fff;
}
.header {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
img {
    display: block;
    min-width: 100%;
    height: auto;
}
.site-navigation {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: 'Playfair Display', serif;
    text-align: center;
    
}
.site-navigation li {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
}
.menu-link {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    color: #626262;
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: #00f;
}
.site-navigation li:not(:last-child) {
    margin-right: 100px;
}


.list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.list-item {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
}
.list-item:nth-child(2n) {
    margin-right: 0;
}
.subparagraph {
    color: #b4ad9e;
    font-size: 14px;
    text-transform: uppercase;
    margin: 32px 0px;
}
.list-item h2 {
    color: #626262;
    font-size: 30px;
    margin-bottom: 40px;
}
.list-item p {
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

.button {
    border: solid 1px black;
    margin: 0px 360px;
    padding: 0;
    padding: 20px 42px 20px 36px;
    background-color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    cursor: pointer;   
}